/* Manufacturer teaser view styling */
.view-articles .group-left {
	width: 33%;
}
.view-articles .ds-2col-stacked .group-right {
	width: 67%;
}
.view-articles .ds-2col-stacked .group-right h2 a {
	font-size: 36px;
}
.view-articles .ds-2col-stacked .group-header {
	margin-top: 10px;
}
.view-articles .ds-2col-stacked .group-footer {
	margin-left: 10px;
	border-top: 1px solid #ccc;
}

/* Superfish menu stying */
#superfish-1 {
	position: absolute;
	background: transparent;
	margin-left: 5px;
	margin-top: 5px;
}
#superfish-1 > ul {
	background: transparent;
	position: relative !important;
}
#superfish-1 #menu-471-1 > ul {
	background-color: transparent;
}
#superfish-1 > li {
	background: transparent;
	border-radius: 5px 5px 0 0;
	margin-right: 2px;
}
#superfish-1 > li > a {
	background: linear-gradient(gray, black);
	border-radius: 5px 5px 0 0;
	color: white;
	font-size: 14px;
	padding: 8px 12px 8px 12px;
}
.view-home-slides {
	margin-top: 15px;
}
#block-views-latest-news-block {
	float: left;
	width: 345px;
}
.view-latest-news {
	margin-top: 5px;
}
.view-latest-news .views-row {
	float: left;
	margin-right: 2px;
}
.view-latest-news .views-row .views-field-title a {
	font-weight: bold;
}
#block-views-upcoming-cars-view-block {
	float: left;
	width: 345px;
	margin-left: 10px;
}
.view-upcoming-cars-view .views-row {
	float: left;
	margin-right: 2px;
}
.view-upcoming-cars-view {
	margin-top: 5px;
}
.view-upcoming-cars-view .views-row .views-field-title a {
	font-weight: bold;
}
.view-latest-events .views-row {
	width: 345px;
	float: left;
}
.view-latest-events .views-row .views-field-title a {
	font-weight: bold;
}
#block-views-latest-events-block {
	float: left;
}